/* Fonts */
@font-face {
    font-display: swap;
    font-family: 'Fontdiner Swanky';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fontdiner-swanky-v24-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Zen Antique Soft';
    font-style: normal;
    font-weight: 400;
    src: url('assets/zen-antique-soft-v14-latin-regular.woff2') format('woff2');
}


/* Background */
body {
    background-color: #0e688e;
    background:
        url("assets/noise.png") left top / 80rem 45rem repeat fixed,
        url("assets/stars.png") left top / 4rem 4rem repeat fixed,
        url("assets/background.png") left top / 100% 100% no-repeat fixed;
    background-blend-mode: color-dodge, screen, normal;
    animation: scroll 120s linear infinite;
}

@keyframes scroll {
    from { background-position: left top, bottom right, left top; }
    to { background-position: 1000% 1000%, left top, left top; }
}

/* Logo */
.logo {
    margin: auto;
    display: block;

    height: 12rem;
    filter: drop-shadow(0.15rem 0.3rem 0.05rem #00005240);

    background-image: radial-gradient(#00004030 0%, #00000000 50%);
    background-position-y: 2rem;
    background-repeat: no-repeat;

    margin: 1.5rem auto 0 auto;
    padding-bottom: 1rem;

    user-select: none;
}

/* Navigation Bar */
ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-inline: 0;

    color: transparent;
    background-color: transparent;

    outline-style: outset;
    outline-width: 0.25rem;
    outline-offset: -0.1rem;
    outline-color: #ffffff30;

    box-shadow: 0.1rem 0.1rem 0.5rem #ffffff inset, 0rem 0.33rem 1rem #7e77d480;
}

ul li {
    flex-grow: 1;
}

/* Navigation Bar Buttons */
ul li a  {
    /* Sizing */
    white-space: nowrap;
    min-height: 3rem;

    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;

    /* Background */
    background-color: #808080;
    background: 
        repeating-linear-gradient(135deg, #ffffff20, #ffffff20 1rem, #65c2c510 1rem, #65c2c510 2rem),
        linear-gradient(#e2fded 0%, #9cebb4 45%, #61d684 50%, #607fcb 85%),
        repeating-radial-gradient(farthest-side at 50% 0%, #ffffff00, #ffffff00 2rem, #61bfc920 2rem, #61bfc920 3rem);
    background-blend-mode: multiply;

    outline-style: groove;
    outline-width: 0.25rem;
    outline-color: #ffffff40;
    outline-offset: -0.1rem;

    /* Text */
    font-family: 'Fontdiner Swanky';
    font-weight: 400;
    font-size: 1.5rem;

    text-align: center;
    text-decoration: none;
    text-shadow: 
    /* Outline */
    -0.1rem -0.1rem 0 #3cc6a3,
     0   -0.1rem 0 #3cc6a3,
     0.1rem -0.1rem 0 #3cc6a3,
     0.1rem  0   0 #3cc6a3,
     0.1rem  0.1rem 0 #3cc6a3,
     0    0.1rem 0 #3cc6a3,
    -0.1rem  0.1rem 0 #3cc6a3,
    -0.1rem  0   0 #3cc6a3,
    /* Other */
    0 0 1rem #298ba3, 0.2rem 0.25rem 0.05rem #7e77d4a0;

    color: white;
    user-select: none;

    transition: all 0.3s ease;
}

ul li a:hover {
    text-shadow: 
    /* Outline */
    -0.1rem -0.1rem 0.2rem #3cc6a3,
     0   -0.1rem 0.2rem #3cc6a3,
     0.1rem -0.1rem 0.2rem #3cc6a3,
     0.1rem  0   0.2rem #3cc6a3,
     0.1rem  0.1rem 0.2rem #3cc6a3,
     0    0.1rem 0.2rem #3cc6a3,
    -0.1rem  0.1rem 0.2rem #3cc6a3,
    -0.1rem  0   0.2rem #3cc6a3,
    /* Other */
    0 0 3rem #298ba3, 0.2rem 0.25rem 0.15rem #7e77d4a0;

    font-size: 1.65rem;
}

ul li a:active {
    font-size: 1.5rem;
    color: #9cebb4;
    transition: all 0.05s ease;
}

.current {
    background: 
        repeating-linear-gradient(135deg, #ffffff20, #ffffff20 1rem, #65c2c510 1rem, #65c2c510 2rem),
        linear-gradient(#e2fded 0%, #9cebb4 10%, #61d684 45%, #607fcb 85%),
        repeating-radial-gradient(farthest-side at 50% 0%, #ffffff00, #ffffff00 2rem, #61bfc920 2rem, #61bfc920 3rem);
    text-shadow:
    /* Outline */
    -0.1rem -0.1rem 0.15rem white,
     0   -0.1rem 0.15rem white,
     0.1rem -0.1rem 0.15rem white,
     0.1rem  0   0.15rem white,
     0.1rem  0.1rem 0.15rem white,
     0    0.1rem 0.15rem white,
    -0.1rem  0.1rem 0.15rem white,
    -0.1rem  0   0.15rem white;

    color: #3cc6a3;
    pointer-events: none;
}

/* Content */
.content {
    background-color: #000000ff;
    background:
        linear-gradient(#cce4ef 0%, #e4eef1 100%),
        repeating-linear-gradient(#ffffff40, #ffffff40 1rem, #aacccc10 1rem, #aacccc10 1.375rem);
    background-blend-mode: multiply;

    outline-style: outset;
    outline-width: 0.25rem;
    outline-color: #ffffff40;
    outline-offset: -0.1rem;
    
    max-width: 70%;
    min-width: min-content;
    min-height: 40rem;
    margin: auto;
}

/* About me */
.aboutme {
    padding: 1.5rem;
    padding-top: 0;
}

/* Footer */
.footer {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(#ffffff00 0%, #ddeeffd0 5%, #ddeeff20 100%);
    
    margin: 3rem -1rem 0 -1rem;
    padding: 1rem;
}

.footer-column {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0.25rem 0rem 0 2rem;
}

.footer h4 {
    color: white;
    padding: 0 0.3rem 0 0.3rem;
    margin: 0;

    font-family: 'Fontdiner Swanky';
    font-weight: 400;
    font-size: 1.25rem;

    text-align: center;
    text-shadow: 0.3rem 0.3rem 0.05rem #7e77d4a0;
    -webkit-text-stroke: 0.3rem transparent;
    
    background-image: linear-gradient(in hsl longer hue 45deg, rgb(144, 16, 16) 0 100%);
    background-clip: padding-box;
    -webkit-background-clip: text;
}

.footer p, .footer a, .footer h4 {
    text-align: center;
    margin: 0;
}

.footer a, .footer p {
    color: #063a50;
    text-shadow: 0.1rem 0.1rem 0.15rem #7e77d460, 0 0 0.1rem #00000040, 0 0 0.3rem #ffffff40;
}

.footer a {
    padding: 0 0.15rem 0 0.15rem;
    color: rgb(29, 63, 164);
}

.footer a:visited {
   color: rgb(122, 6, 140);
}

/* Misc */
p {
    color: #0e688e;
}

p, a {
    text-shadow: 0.1rem 0.1rem 0.15rem #7e77d460;
    font-family: 'Zen Antique Soft';
    font-weight: 400;
}

h2, h4 {
    color: white;
    padding: 0 0.3rem 0 0.3rem;
    width: fit-content;
    margin: 0 0 -0.5rem 0;

    font-family: 'Fontdiner Swanky';
    font-weight: 400;

    text-shadow: 0.25rem 0.25rem 0.15rem #7e77d4a0;
    -webkit-text-stroke: 0.3rem transparent;
    
    background-image: linear-gradient(in hsl longer hue 45deg, rgb(144, 16, 16) 0 100%);
    background-clip: padding-box;
    -webkit-background-clip: text;
}