/* Fonts */
@font-face {
    font-display: swap;
    font-family: 'Fontdiner Swanky';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fontdiner-swanky-v24-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Zen Antique Soft';
    font-style: normal;
    font-weight: 400;
    src: url('assets/zen-antique-soft-v14-latin-regular.woff2') format('woff2');
}


/* Background */
body {
    background-color: #0e688e;
    background:
        url("assets/noise.png") left top / 80rem 45rem repeat fixed,
        url("assets/stars.png") left top / 4rem 4rem repeat fixed,
        url("assets/background.png") left top / 100% 100% no-repeat fixed;
    background-blend-mode: color-dodge, screen, normal;
    animation: scroll 120s linear infinite;
}

@keyframes scroll {
    from { background-position: left top, bottom right, left top; }
    to { background-position: 1000% 1000%, left top, left top; }
}

/* Logo */
.logo {
    margin: auto;
    display: block;

    height: 12rem;
    filter: drop-shadow(0.15rem 0.3rem 0.05rem #00005240);

    background-image: radial-gradient(#00004030 0%, #00000000 50%);
    background-position-y: 2rem;
    background-repeat: no-repeat;

    margin: 1.5rem auto 0 auto;
    padding-bottom: 1rem;

    user-select: none;
}

/* Navigation Bar */
ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-inline: 0;

    color: transparent;
    background-color: transparent;

    outline-style: outset;
    outline-width: 0.25rem;
    outline-offset: -0.1rem;
    outline-color: #ffffff30;

    box-shadow: 0.1rem 0.1rem 0.5rem #ffffff inset, 0rem 0.33rem 1rem #7e77d480;
}

ul li {
    flex-grow: 1;
}

/* Navigation Bar Buttons */
ul li a  {
    /* Sizing */
    white-space: nowrap;
    min-height: 3rem;

    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;

    /* Background */
    background-color: #808080;
    background: 
        repeating-linear-gradient(135deg, #ffffff20, #ffffff20 1rem, #65c2c510 1rem, #65c2c510 2rem),
        linear-gradient(#e2fded 0%, #9cebb4 45%, #61d684 50%, #607fcb 85%),
        repeating-radial-gradient(farthest-side at 50% 0%, #ffffff00, #ffffff00 2rem, #61bfc920 2rem, #61bfc920 3rem);
    background-blend-mode: multiply;

    outline-style: groove;
    outline-width: 0.25rem;
    outline-color: #ffffff40;
    outline-offset: -0.1rem;

    /* Text */
    font-family: 'Fontdiner Swanky';
    font-weight: 400;
    font-size: 1.5rem;

    text-align: center;
    text-decoration: none;
    text-shadow: 
    /* Outline */
    -0.1rem -0.1rem 0 #3cc6a3,
     0   -0.1rem 0 #3cc6a3,
     0.1rem -0.1rem 0 #3cc6a3,
     0.1rem  0   0 #3cc6a3,
     0.1rem  0.1rem 0 #3cc6a3,
     0    0.1rem 0 #3cc6a3,
    -0.1rem  0.1rem 0 #3cc6a3,
    -0.1rem  0   0 #3cc6a3,
    /* Other */
    0 0 1rem #298ba3, 0.2rem 0.25rem 0.05rem #7e77d4a0;

    color: white;
    user-select: none;

    transition: all 0.3s ease;
}

ul li a:hover {
    text-shadow: 
    /* Outline */
    -0.1rem -0.1rem 0.2rem #3cc6a3,
     0   -0.1rem 0.2rem #3cc6a3,
     0.1rem -0.1rem 0.2rem #3cc6a3,
     0.1rem  0   0.2rem #3cc6a3,
     0.1rem  0.1rem 0.2rem #3cc6a3,
     0    0.1rem 0.2rem #3cc6a3,
    -0.1rem  0.1rem 0.2rem #3cc6a3,
    -0.1rem  0   0.2rem #3cc6a3,
    /* Other */
    0 0 3rem #298ba3, 0.2rem 0.25rem 0.15rem #7e77d4a0;

    font-size: 1.65rem;
}

ul li a:active {
    font-size: 1.5rem;
    color: #9cebb4;
    transition: all 0.05s ease;
}

.current {
    background: 
        repeating-linear-gradient(135deg, #ffffff20, #ffffff20 1rem, #65c2c510 1rem, #65c2c510 2rem),
        linear-gradient(#e2fded 0%, #9cebb4 10%, #61d684 45%, #607fcb 85%),
        repeating-radial-gradient(farthest-side at 50% 0%, #ffffff00, #ffffff00 2rem, #61bfc920 2rem, #61bfc920 3rem);
    text-shadow:
    /* Outline */
    -0.1rem -0.1rem 0.15rem white,
     0   -0.1rem 0.15rem white,
     0.1rem -0.1rem 0.15rem white,
     0.1rem  0   0.15rem white,
     0.1rem  0.1rem 0.15rem white,
     0    0.1rem 0.15rem white,
    -0.1rem  0.1rem 0.15rem white,
    -0.1rem  0   0.15rem white;

    color: #3cc6a3;
    pointer-events: none;
}

/* Content */
.content {
    background-color: #000000ff;
    background:
        linear-gradient(#cce4ef 0%, #e4eef1 100%),
        repeating-linear-gradient(#ffffff40, #ffffff40 1rem, #aacccc10 1rem, #aacccc10 1.375rem);
    background-blend-mode: multiply;

    outline-style: outset;
    outline-width: 0.25rem;
    outline-color: #ffffff40;
    outline-offset: -0.1rem;
    
    max-width: 70%;
    min-width: min-content;
    min-height: min-content;
    margin: auto;
}

/* Home */
.home {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
    padding-top: 0;
}

.home-section {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-grow: 1;
}

.home-text {
    flex-grow: 1;
}

.multipliers {
    display: none;
    justify-content: space-evenly;
    margin-top: -2rem;
    margin-bottom: 1rem;
}

.stuff-container {
    display: flex;
    gap: 0.3rem;
    min-width: 16rem;
}

.stuff-col {
    flex-grow: 1;
    flex-direction: column;
}

.stuff-image {
    width: 100%;
    height: 50%;
    object-fit: cover;
    object-position: center;
    contain: size;
}

button {
    border: none;
    background: none;
    background-image: url("assets/luci-idle.gif");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    image-rendering: pixelated;
    min-width: 10rem;
    aspect-ratio: 56/71;
    filter: drop-shadow(0.1rem 0.2rem 0.05rem #00005240);
    transition: all 0.05s ease;
    cursor: pointer;
}

button:hover {
    transform: translateY(-0.25rem);
    transition: all 0.1s ease-in;
    
    filter: drop-shadow(0.1rem 0.2rem 0.05rem #00005240);
}

button:active {
    background-image: url("assets/luci-pose.gif");
    transform: translateY(-0.75rem) scale(1.025);
    transition: all 0s ease;
}

@keyframes bounce {
    0% {
        transform: translateY(-1.5rem) scale(0.9);
        animation-timing-function: ease-out;
        opacity: 80%;
    }
    30% {
        transform: translateY(-2.5rem) scale(1.025);
        animation-timing-function: ease-in;
        opacity: 100%;
    }
    100% {
        transform: translateY(3rem) scale(0.7);
        opacity: 0%;
    }
}

.floating-label {
    opacity: 0%;
    position: absolute;
    pointer-events: none;
    transform: translateY(3rem) scale(0.7);
    animation-name: bounce;
    animation-duration: 0.85s;
}


/* Footer */
.footer {
    display: flex;
    justify-content: center;
    background: 
        linear-gradient(#000000a0 0%, #00000015 100%),
        repeating-conic-gradient(#00000000 0 25%, #00000020 0 50%) 50% / 3rem 3rem;
    mask: linear-gradient(transparent 0%, black 5%);

    margin: 3rem -1rem 0 -1rem;
    padding: 1rem;
}

.footer-column {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0.25rem 0rem 0 2rem;
}

.footer h4 {
    color: white;
    padding: 0 0.3rem 0 0.3rem;
    margin: 0;

    font-family: 'Fontdiner Swanky';
    font-weight: 400;
    font-size: 1.25rem;

    text-align: center;
    text-shadow: none;
    -webkit-text-stroke: 0.3rem transparent;
    
    background-image: linear-gradient(in hsl longer hue 45deg, rgb(144, 48, 48) 0 100%);
    background-clip: padding-box;
    -webkit-background-clip: text;
}

.footer p, .footer a, .footer h4 {
    text-align: center;
    margin: 0;
}

.footer a, .footer p {
    color: #5fd6b2;
}

.footer a {
    padding: 0 0.15rem 0 0.15rem;
    color: deepskyblue;
}

.footer a:visited {
    color: mediumorchid;
}

/* Misc */
p {
    color: #0e688e;
}

p, a {
    text-shadow: 0.1rem 0.1rem 0.15rem #7e77d460;
    font-family: 'Zen Antique Soft';
    font-weight: 400;
}

h2, h3, h4 {
    color: white;
    padding: 0 0.3rem 0 0.3rem;
    margin: 0 0 -0.5rem 0;

    width: fit-content;
    height: fit-content;
    white-space: nowrap;

    font-family: 'Fontdiner Swanky';
    font-weight: 400;

    text-shadow: 0.25rem 0.25rem 0.15rem #7e77d4a0;
    -webkit-text-stroke: 0.3rem transparent;
    
    background-image: linear-gradient(in hsl longer hue 45deg, rgb(144, 16, 16) 0 100%);
    background-size: cover;
    -webkit-background-clip: text;
}