/* Fonts */
@font-face {
    font-display: swap;
    font-family: 'Fontdiner Swanky';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fontdiner-swanky-v24-latin-regular.woff2') format('woff2');
  }
  

/* Background */
body {
    background-color: #0e688e;
    background:
        url("assets/noise.png") left top / 80rem 45rem repeat fixed,
        url("assets/stars.png") left top / 4rem 4rem repeat fixed,
        url("assets/background.png") left top / 100% 100% no-repeat fixed;
    background-blend-mode: color-dodge, screen, normal;
    animation: scroll 120s linear infinite;
}

@keyframes scroll {
    from { background-position: left top, bottom right, left top; }
    to { background-position: 1000% 1000%, left top, left top; }
}

/* Logo */
.logo {
    margin: auto;
    display: block;

    height: 12rem;
    filter: drop-shadow(0.15rem 0.3rem 0.05rem #00005240);

    background-image: radial-gradient(#00004030 0%, #00000000 50%);
    background-position-y: 2rem;
    background-repeat: no-repeat;

    margin: 1.5rem auto 0 auto;
    padding-bottom: 1rem;

    user-select: none;
}

/* Navigation Bar */
ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-inline: 0;

    color: transparent;
    background-color: transparent;

    outline-style: outset;
    outline-width: 0.25rem;
    outline-offset: -0.1rem;
    outline-color: #ffffff30;

    box-shadow: 0.1rem 0.1rem 0.5rem #ffffff inset, 0rem 0.33rem 1rem #7e77d480;
}

ul li {
    flex-grow: 1;
}

/* Navigation Bar Buttons */
ul li a  {
    /* Sizing */
    display: block;
    padding: 0.5rem 2rem 0.5rem 2rem;
    white-space: nowrap;
    flex-grow: 1;

    /* Background */
    background-color: #808080;
    background: 
        repeating-linear-gradient(135deg, #ffffff20, #ffffff20 1rem, #65c2c510 1rem, #65c2c510 2rem),
        linear-gradient(#e2fded 0%, #9cebb4 45%, #61d684 50%, #607fcb 85%),
        repeating-radial-gradient(farthest-side at 50% 0%, #ffffff00, #ffffff00 2rem, #61bfc920 2rem, #61bfc920 3rem);
    background-blend-mode: multiply;

    outline-style: groove;
    outline-width: 0.25rem;
    outline-color: #ffffff40;
    outline-offset: -0.1rem;

    /* Text */
    font-family: 'Fontdiner Swanky';
    font-weight: 400;
    font-size: 1.5rem;

    text-align: center;
    text-decoration: none;
    text-shadow: 
    /* Outline */
    -0.1rem -0.1rem 0 #3cc6a3,
     0   -0.1rem 0 #3cc6a3,
     0.1rem -0.1rem 0 #3cc6a3,
     0.1rem  0   0 #3cc6a3,
     0.1rem  0.1rem 0 #3cc6a3,
     0    0.1rem 0 #3cc6a3,
    -0.1rem  0.1rem 0 #3cc6a3,
    -0.1rem  0   0 #3cc6a3,
    /* Other */
    0 0 1rem #298ba3, 0.2rem 0.25rem 0.05rem #7e77d4a0;

    color: white;
    user-select: none;

    transition: all 0.3s ease;
}

ul li a:hover {
    text-shadow: 
    /* Outline */
    -0.1rem -0.1rem 0.2rem #3cc6a3,
     0   -0.1rem 0.2rem #3cc6a3,
     0.1rem -0.1rem 0.2rem #3cc6a3,
     0.1rem  0   0.2rem #3cc6a3,
     0.1rem  0.1rem 0.2rem #3cc6a3,
     0    0.1rem 0.2rem #3cc6a3,
    -0.1rem  0.1rem 0.2rem #3cc6a3,
    -0.1rem  0   0.2rem #3cc6a3,
    /* Other */
    0 0 3rem #298ba3, 0.2rem 0.25rem 0.15rem #7e77d4a0;
    
    padding: 0.38rem 1.75rem 0.38rem 1.75rem;
    font-size: 1.65rem;
}

ul li a:active {
    padding: 0.5rem 2rem 0.5rem 2rem;
    font-size: 1.5rem;

    color: #9cebb4;
    transition: all 0.05s ease;
}

.current {
    background: 
        repeating-linear-gradient(135deg, #ffffff20, #ffffff20 1rem, #65c2c510 1rem, #65c2c510 2rem),
        linear-gradient(#e2fded 0%, #9cebb4 10%, #61d684 45%, #607fcb 85%),
        repeating-radial-gradient(farthest-side at 50% 0%, #ffffff00, #ffffff00 2rem, #61bfc920 2rem, #61bfc920 3rem);
    text-shadow:
    /* Outline */
    -0.1rem -0.1rem 0.15rem white,
     0   -0.1rem 0.15rem white,
     0.1rem -0.1rem 0.15rem white,
     0.1rem  0   0.15rem white,
     0.1rem  0.1rem 0.15rem white,
     0    0.1rem 0.15rem white,
    -0.1rem  0.1rem 0.15rem white,
    -0.1rem  0   0.15rem white;

    color: #3cc6a3;
    pointer-events: none;
}

/* Content */
.content {
    background-color: #000000ff;
    background:
        linear-gradient(#cce4ef 0%, #e4eef1 100%),
        repeating-linear-gradient(#ffffff40, #ffffff40 1rem, #aacccc10 1rem, #aacccc10 1.375rem);
    background-blend-mode: multiply;

    outline-style: outset;
    outline-width: 0.25rem;
    outline-color: #ffffff40;
    outline-offset: -0.1rem;
    
    max-width: max-content;
    min-width: min-content;
    min-height: 40rem;
    margin: auto;
}

h2 {
    font-family: 'Fontdiner Swanky';
    font-weight: 400;
    font-size: 1.5rem;
    margin: 1rem;
}

p {
    margin: 1rem;
}